.boxlist h3 {
margin: 0 0 0.25rem 0;
}

.description {
font-style: italic;
margin-bottom: 1rem;
}

.filename{
font-style: italic;
}
.icons{
display: flex;
align-items: center;
justify-content: space-around;
padding: 0 0.9rem;
color: #aaa5a5;
cursor: pointer;
}

.upload-icons{
  color: #aaa5a5;
  cursor: pointer;
  }

.file-button button{
  height: 2rem;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #d14108;
  color: white;
  padding: 0.4rem 1rem;
  display: flex;
  border-radius: 25px;
  font-weight: bold;
}
.file-upload{
  display: flex;
}