.box {  
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  margin: 2rem 3rem;
}
.boxlist h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.filename{
  font-style: italic;
  margin: 1.5rem 0;
}
