.file-box{
  width: 45rem;
  margin: 2rem auto;
}
.box-list h3 {
  margin: 0 0 0.25rem 0;
  }
  
  .description {
  font-style: italic;
  margin-bottom: 1rem;
  }
  
  .filename{
  font-style: italic;
  }
  
  